<md-dialog aria-label="Plot" >
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('mix')" name="mix">mix</md-nav-item>
            <md-nav-item md-nav-click="goto('upDown')" name="upDown">up & down</md-nav-item>
        </md-nav-bar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <taw-plot ng-if="series.mix && currentNavItem ==='mix'" series="[series.mix]"></taw-plot>
                <taw-plot ng-if="series.down && series.up && currentNavItem ==='upDown'" series="[series.up, series.down]"></taw-plot>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
        </md-dialog-actions>
    </form>
</md-dialog>

