<div>
    <md-list>
        <md-content layout-gt-md="row" layout-padding md-whiteframe="10">
            <div layout="row" layout-xs="column">
                <md-input-container flex>
                    <label>userId</label>
                    <input ng-model="search.userId">
                </md-input-container>
                <md-input-container flex>
                    <label>Gender</label>
                    <md-select ng-model="searchStrict.gender">
                        <md-option value="Man">Man</md-option>
                        <md-option value="Woman">Woman</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex>
                    <label>desiredBPM</label>
                    <input ng-model="search.desiredBPM"/>
                </md-input-container>
            </div>
        </md-content>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp full-width"
               style="width: 100%">
            <thead>
            <th>userId</th>
            <th>gender</th>
            <th>hand</th>
            <th>finger</th>
            <th>position</th>
            </thead>
            <tbody>
            <tr ng-repeat="measure in tc.measurement | filter:search | filter:searchStrict:true">
                <td>
                    <md-button class="md-icon-button" aria-label="refresh" ng-click="tc.getDetail(measure)">
                        <md-tooltip md-direction="bottom">
                            {{measure.userId}}
                        </md-tooltip>
                        <md-icon md-svg-src="img/help.svg" style="width: 24px; height: 24px;">
                        </md-icon>
                    </md-button>
                </td>
                <td>{{measure.gender}}</td>
                <td>{{measure.hand}}</td>
                <td>{{measure.finger}}</td>
                <td>{{measure.position}}</td>
                <td>
                    <md-button class="md-raised md-primary" ng-click="tc.getTouch(measure)">touch</md-button>
                </td>
                <td>
                    <md-button class="md-raised md-warn" ng-click="tc.getAcc(measure)">acc</md-button>
                </td>
            </tr>


            </tbody>

        </table>
    </md-list>
</div>